<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tiranv1dev.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.gear.host</MSDeployServiceURL>
    <DeployIisAppPath>tiranv1dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$tiranv1dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TiranV1DBLocalEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\User\Documents\Visual Studio 2012\Projects\TiranV1\TiranV1\App_Data\TiranV1DBLocal.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TiranV1.Models.TiranV1DBLocalEntities, TiranV1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TiranV1DBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TiranV1DBLocalEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TiranV1LocalDbEntity.csdl|res://*/Models.TiranV1LocalDbEntity.ssdl|res://*/Models.TiranV1LocalDbEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\v11.0;AttachDbFilename="C:\Users\User\Documents\Visual Studio 2012\Projects\TiranV1\TiranV1\App_Data\TiranV1DBLocal.mdf";Integrated Security=True;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>